[Desktop Entry]
Encoding=UTF-8
Name=CANOpen Object Dictionary Editor
Name[fr]=Editeur de Dictionnaire d'Objets CANOpen
Comment=Create, modifify, configure CANOpen nodes
Comment[fr]=Créer, modifier, configurer des noeuds CANOpen
Exec=/usr/bin/objdictedit
Icon=/usr/share/CanFestival-3/objdictgen/networkedit.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true

